@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300;700&family=Lato:wght@300&display=swap");

/*
font-family: 'Lato', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #080b0d;
  color: #fff;
  font-family: lato;
}

.time {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-weight: bold;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.App h1 {
  font-size: 2rem;
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.pizza-svg {
  width: 100px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.duration {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
@media screen and (min-width: 720px) {
  .container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (min-width: 600px) {
  .container {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
}
.session {
  margin: auto 4rem;
}
.session,
.change {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.session h2 {
  margin-bottom: 1rem;
}
.change span {
  cursor: pointer;
  font-size: 1.5rem;
}
.change h3 {
  font-size: 2rem;
}

.button-group {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.button-group button {
  border: none;
  padding: 0.5rem 0.8rem;
  outline: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.button-group button svg {
  font-size: 1.5rem;
}
.clock {
  text-align: center;
}

.clock h1 {
  font-size: 10rem;
  text-align: center;
}

@media screen and (max-width: 560px) {
  .App {
    width: 80vw;
    margin: auto 10vw;
  }

  .App h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .clock h1 {
    font-size: 7rem;
    text-align: center;
  }

  .button-group {
    gap: 0.2rem;
  }

  button {
    gap: 5px;
    font-size: 0.8rem;
    padding: 0.25rem;
  }
}
